In [6]:
#Take values of the length & breadth of a rectangle from user input and check if it is square or not.
length = int (input("length : "))
width = int (input("width : "))
if(pow(width,2)==length*width):
    print("done");
else :
    print("not done")

length : 2
width : 3
not done

In [13]:
#Take three integer values from the user and print the greatest among them.
num1 = int(input("number1 :"))
num2 = int(input("number2 :"))
num3 = int(input("number3 :"))
if(num1>num2 & num1>num3):
    print(num1);
elif(num2>num1 &num2>num3):
    print(num2);
else :
    print(num3)

number1 :3
number2 :1
number3 :5
5

In [7]:
#A student will not be allowed to sit in an exam if his/her attendance is less than 75%.
attendance = int(input("Attendance : ")) 
totalClass=int(input("Total days : "))
value= attendance/100*totalClass

if(value>75):
    print(("successfull"))
else :
    print("unsuccessfull")

Attendance : 80
Total days : 100
successfull

In [10]:
#A school has the following rules for the grading system:
mark=int(input("Mark :"))
if(mark < 25):
    print("fail")
elif(mark >25 & mark < 44):
    print("E")
elif(mark >45 & mark < 49):
    print("D")
elif(mark >50 & mark < 59):
    print("C")
elif(mark >60 & mark < 79):
    print("B")
elif(mark >80 & mark < 89):
    print("A")
elif( mark <= 90):
    print("A+")

Mark :50
E

In [8]:
#Print the following pattern using for and while loop.
value = int(input("Row = "))
column =int(input("column ="))
extra = value
for i in range(0,value):
    if(i==0):
        for i in range(0,extra-1):
            print("#", end="")
        print();
    else :
        for j in range(i,column):
            print("#", end="");
        print();

Row = 5
column =5
####
####
###
##
#

In [9]:
#Display numbers from -100 to -10 using for loop.
for i in range(-20,-10):
    print(i)

-20
-19
-18
-17
-16
-15
-14
-13
-12
-11

In [13]:
#factorial
value = int(input("Value ? "))
fact=1
for i in range (1,value+1):
    fact= i*fact
print(fact)

Value ? 5
120

In [1]:
#fibonnaci for loop

def fibonaci(n):
    a = 0
    b = 1
    if n == 1:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2,n):
            c = a + b
            a = b
            b = c
            print(c)
fibonaci(10)

0
1
1
2
3
5
8
13
21
34

In [7]:
#Remove 2 and add 3 to the list and replace True with False.
li=[1,6,5,3,[2,5],False]
li[4].remove(2)
li[4].append(5)
li[5]=True
print(li)

[1, 6, 5, 3, [5, 5], True]

In [14]:

#Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}
value = S1 & S2
print(value)

{True}

Number of element ? 3
2
5
45
[2, 5, 45]

In [5]:
#duplicate remove
n= int(input("Number of element ? "))
li=[];
for i in range (0,n):
    x=int(input())
    li.append(x);
value= list(dict.fromkeys(li))
print(value)
print(max(value))

Number of element ? 5
85
5
5
5
3
[85, 5, 3]
85

In [7]:
#key changing
person = { "name": "Shakil", "age":27, "country": "Germany","city":"Berlin" }
person["region"]= person["country"]
del person["country"]
print(person)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

In [9]:
person["age"]= 28
print(person)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'region': 'Germany'}

In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [1]:
import pandas as pd

In [7]:
#column 
person = { "Number":[10,10,10,10] }
DF= pd.DataFrame(person)

In [8]:
DF

   Number
0      10
1      10
2      10
3      10

In [5]:
#reverse number
val=122
val1=0
while (val>0 ):
    rem= val%10
    val1=(val1*10)+rem
    val=val//10
    
print(val1)

221

In [2]:
#fibonnaci using  while 
def fibonaci(n):
    a = 0
    b = 1
    if n == 1:
        print(a)
    else:
        print(a)
        print(b)
        #for i in range(2,n):
        while(n>=2):
        
            c = a + b
            a = b
            b = c
            n=n-1
            print(c)
fibonaci(10)

0
1
1
2
3
5
8
13
21
34
55

In [6]:
column=7
row=4
for i in range (1,row+1):
    for j in range(1,column+1):
        print(j,end="")
    print();
    column=column-1;

1234567
123456
12345
1234

In [ ]:
#primne number
num= int(input("Number : "))
if num % 2 !=2:
    print ("this is  prime number")
else: 
    print("This is not prime number")